{% extends "app/profile.html" %}
{% load static %}

  {% block head_block %}
    <link rel="stylesheet" href="{% static "css/app/profile.css" %}">
    <link rel="stylesheet" href="{% static "css/app/calendar.css" %}">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  {% endblock %}

  {% block profile_block %}
    <div class="calendar">
      <form method="post">
        {% if HTML_Calendar %}
          {{ HTML_Calendar|safe }}
        {% endif %}
      </form>
      <div class="leftarrow">
        <img src="{% static "img/app/left-arrow.svg" %}" alt="left arrow">
      </div>
      <div class="rightarrow">
        <img src="{% static "img/app/right-arrow.svg" %}" alt="right arrow">
      </div>
    </div>
  {% endblock %}

  {% block script_block %}

    $(".calendar table tr:nth-of-type(1) th:nth-of-type(1)").text("{{ actuall_month_string }} {{ actuall_year }}");
    $(".calendar table tr:nth-of-type(2) th:nth-of-type(1)").text("PON");
    $(".calendar table tr:nth-of-type(2) th:nth-of-type(2)").text("WT");
    $(".calendar table tr:nth-of-type(2) th:nth-of-type(3)").text("ŚR");
    $(".calendar table tr:nth-of-type(2) th:nth-of-type(4)").text("CZW");
    $(".calendar table tr:nth-of-type(2) th:nth-of-type(5)").text("PT");
    $(".calendar table tr:nth-of-type(2) th:nth-of-type(6)").text("SOB");
    $(".calendar table tr:nth-of-type(2) th:nth-of-type(7)").text("NDZ");


    if( $(".calendar table td").attr("class")=="noday" ){
      $(this).css("cursor","not-allowed");
    }

    $(".rightarrow").on("click",function(){
      window.location.href = "increase_month";
    })

    $(".leftarrow").on("click",function(){
      window.location.href = "decrease_month";
    })

    var actuall_day = {{actuall_day}};
    var actuall_month = {{actuall_month}};
    var actuall_year = {{actuall_year}};
    var date = new Date();

    $('table td').each(function() {
      if( actuall_year < date.getFullYear() ){
        $("table td").css("color","red");
      }
      else{
        if( actuall_month < date.getMonth()+1 ){
          $(this).css("color","red");
        }
        else{
          if( ($(this).text() < actuall_day) && (actuall_month == date.getMonth()+1) ){
            $(this).css("color","red");
          }
          else{
              $(this).css("color","#7CFC00");
          }
        }
      }
    });

    var day;

    $("table td").on("click",function(){
      var today = {{actuall_day}}
      console.log($(this).css("color"));
      if($(this).css("color")=="rgb(124, 252, 0)"){
        day = $(this).text();
        window.location.href = "reservation/{{ actuall_year }}/{{ actuall_month }}/"+day+"/{{ type }}/";
      }
    })

  {% endblock %}
