{% extends "app/profile.html" %}
{% load static %}
  {% block head_block %}
  <link rel="stylesheet" href="{% static "css/app/profile.css" %}">
  <link rel="stylesheet" href="{% static "css/app/change_password.css" %}">
  {% endblock %}
  {% block profile_block %}
  <div class="person_info">
    <div class="person_info_title">Zmiana hasła</div>
    <div class="person_info_tagnames">
      <ul>
        <li>Aktualne hasło</li>
        <li>Nowe hasło</li>
        <li>Powtórz nowe hasło</li>
      </ul>
    </div>
    <div class="person_info_labels">
      <form method="post">
        {% csrf_token %}
        <input type="password" name="actuall" value="">
        <input type="password" name="new" value="">
        <input type="password" name="repeat" value="{{email_value}}">
        <input type="submit" name="save" value="Zapisz">
      </form>
    </div>
  </div>
  {% endblock %}
