{% extends "app/base.html" %}
{% load static %}
  {% block head_block %}
  <link rel="stylesheet" href="{% static "css/app/login.css" %}">
  {% endblock %}
  {% block body_block %}
    <div class="container">
      <div class="backgroundpanel">
        <div class="titlediv">
          <div class="circle">
            <img src="{% static "img/app/login/eyeglasses.svg" %}" alt="">
          </div>
          <h1>Logowanie</h1>
        </div>
        <div class="formpanel">
          <form class="" action="{% url 'app:user_login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nazwa użytkownika">
            <input type="password" name="password" placeholder="Hasło">
            <input type="submit" name="" value="Zaloguj się">
          </form>
          <p>
            {% if error %}
            {{ error }}
            {% endif %}
          </p>
          <p id="registerp">Nie masz konta?</p>
          <button type="button" name="button" id="registerb" onclick=goToRegisterPanel()>Zarejestruj się</button>
        </div>
      </div>
    </div>
  {% endblock %}
  {% block script_block %}
  function goToRegisterPanel(){
    window.location.href = "../register";
  }
  {% endblock %}
