{% extends "app/profile.html" %}
{% load static %}
  {% block head_block %}
  <link rel="stylesheet" href="{% static "css/app/profile.css" %}">
  <link rel="stylesheet" href="{% static "css/app/show_events.css" %}">
  {% endblock %}
  {% block profile_block %}
  <div class="events_panel">
    <div class="events_panel_title">Twoje zaplanowane wizyty</div>
    <table>
      <tr id="table_info">
        <td>Usługa</td>
        <td>Data</td>
        <td>Godzina</td>
        <td>Odwołaj</td>
      </tr>
      <!-- Create Django codition here -->
      {% if events %}
        {% for e in events %}
        <tr class="events">
          <td>{{e.service}}</td>
          <td>{{e.date|date:"d-m-Y"}}</td>
          <td>{{e.time|time:"H:i"}}</td>
          <td>
            <form class="delete_event" method="post">
              {% csrf_token %}
              <input type="hidden" name="event_number" value="{{ forloop.counter0 }}">
              <input type="submit" value="Odwołaj">
            </form>
          </td>
        </tr>
        {% endfor %}
      {% else %}
      <tr>
        <td colspan="4" id="no_events">Brak zaplanowanych wizyt</td>
      </tr>
      {% endif %}
      <!-- End of condition -->
    </table>
  </div>
  {% endblock %}
