.topbar{
  /* topbar */

  position: absolute;
  width: 100%;
  height: 147px;
  left: 0px;
  top: 0px;
}
.topbar #eyelogo {
  /* eye logo */

  position: absolute;
  width: 134px;
  height: 120px;
  left: 28px;
  top: 11px;
}
.topbar h1 {
  /* OPTI + */

  position: absolute;
  width: 148px;
  height: 68px;
  left: 177px;
  top: -20px;

  font-family: Teko;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 103px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0096C7;
}
.topbar h2{
  /* CZAS NA TWÓJ WZROK */

  position: absolute;
  width: 386px;
  height: 31px;
  left: 172px;
  top: 82px;

  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #54596E;
}
.navbar{
  /* navbar */

  position: absolute;
  width: 100%;
  height: 79px;
  left: 0px;
  top: 147px;

  background: #0077B6;
}
.navbar #homelogo {
  /* homelogo */

  position: absolute;
  width: 43px;
  height: 43px;
  left: 2%;
  top: 18px;
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(103%) contrast(101%);
}
.navbar #onas{
  /* O nas */

  position: absolute;
  width: 85px;
  height: 33px;
  left: 20%;
  top: -5px;

  font-family: 'Cairo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.navbar #uslugi{
  /* Usługi */

  position: absolute;
  width: 66px;
  height: 30px;
  left: 34%;
  top: -3px;

  font-family: 'Cairo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.navbar #cennik{
  /* Cennik */

  position: absolute;
  width: 73px;
  height: 30px;
  left: 48%;
  top: -3px;

  font-family: 'Cairo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

}
.navbar #galeria{
  /* Galeria */

  position: absolute;
  width: 79px;
  height: 33px;
  left: 62%;
  top: -5px;

  font-family: 'Cairo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.navbar #kontakt{
  /* Kontakt */


  position: absolute;
  width: 88px;
  height: 30px;
  left: 76%;
  top: -3px;

  font-family: 'Cairo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.navbar #accountlogo{
  /* accountlogo */

  position: absolute;
  width: 43px;
  height: 43px;
  left: 92%;
  top: 18px;
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(103%) contrast(101%);
}
.navbar #logoutlogo{
  /* logoutlogo */

  position: absolute;
  width: 43px;
  height: 43px;
  left: 96%;
  top: 18px;
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(103%) contrast(101%);
}
.navbar .underline:hover{
  text-decoration: underline;
}
.botbar{
  /* botbar */

  position: absolute;
  width: 100%;
  height: 250px;
  left: 0px;
  bottom: 0px;

  background: #03045E;
}
.botbar .botbarnav{
    /* botbar mainlist */
  width: 100%;
  height: 200px;
  list-style-type: none;
  padding: 0px;
}
.botbar .botbarnav > li{
  /* botbar subtitles */
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  list-style-type: none;
  float: left;

  font-family: 'Cairo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
.botbar .botbarnav > li > ul{
  width: 100%;
  list-style-type: none;
  padding: 0px;
  margin-top: 25px;
}
.botbar .botbarnav > li > ul > li{
  /* botbar options */
  width: 100%;
  list-style-type: none;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
}
.botbar .botbarnav > li > ul > li > a{
  /* botbar a hrefs*/
  color: #FFFFFF;
  font-size: 18px;
  text-decoration: none;
}
.botbar .botbarnav > li > ul > li > a:hover{
  /* botbar a hrefs*/
  text-decoration: underline;
}
