.form_div{
  position: absolute;
  left: 750px;
  top: 300px;
  background-color: #54596E;
  padding: 50px;
  border : 1px solid #54596E;
  border-radius: 30px;

  font-family: 'Cairo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.form_div select, input{
  font-family: 'Cairo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #54596E;
  outline: none;
}

input[type=submit]{
  border: 1px solid green;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: green;
}
